{% extends 'index.html' %}
{% load widget_tweaks %}
{% block content %}

    <style>
        .guarantee-block, .collateral-block {
            display: none;
        }
    </style>

    <div class="container my-4">
        <h2 class="mb-4 text-center fw-semibold">
            {% if deal %}{{ title }} для сделки: {{ deal }}{% else %}{{ title }}{% endif %}
        </h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ formset.management_form }}
            {% if formset.non_form_errors %}
                <div class="alert alert-danger mb-3">{{ formset.non_form_errors }}</div>
            {% endif %}
            <div id="formset-container" class="row g-3 justify-content-center">
                {% for form in formset %}
                    <div class="col-12 col-md-10 col-lg-8 formset-item">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="card shadow-sm mb-4">
                            <div class="card-header bg-primary text-white d-flex align-items-center small">
                                <svg width="1.1em" height="1.1em" fill="none" class="me-2" viewBox="0 0 24 24">
                                    <rect x="4" y="6" width="16" height="12" rx="2" stroke="#fff" stroke-width="1.5"/>
                                </svg>
                                Обеспечение ({{ forloop.counter }})
                            </div>
                            <div class="card-body pb-1">

                                <div class="row g-3">

                                    <!-- блок контрагент -->
                                    <div class="col-md-12">
                                        <label for="{{ form.owner.id_for_label }}" class="form-label fw-semibold">Контрагент</label>
                                        {{ form.owner|add_class:"form-select" }}
                                        {% if form.owner.errors %}
                                            <div class="invalid-feedback d-block">{{ form.owner.errors.0 }}</div>{% endif %}
                                    </div>

                                    <!-- Вид обеспечения -->
                                    <div class="col-md-6">
                                        <label for="{{ form.type.id_for_label }}" class="form-label fw-semibold">
                                            Вид обеспечения
                                        </label>
                                        {{ form.type|add_class:"form-select collateral-type-selector" }}
                                        {% if form.type.errors %}
                                            <div class="invalid-feedback d-block">{{ form.type.errors.0 }}</div>{% endif %}
                                    </div>
                                </div>

                                <!-- Блок "Поручительство" -->
                                <div class="row g-3 mt-2 guarantee-block"
                                     id="{{ form.prefix }}-type-of-responsibility-block">
                                    <div class="col-12">
                                        <label for="{{ form.type_of_responsibility.id_for_label }}"
                                               class="form-label fw-semibold">
                                            Вид ответственности
                                        </label>
                                        {{ form.type_of_responsibility|add_class:"form-control" }}
                                        {% if form.type_of_responsibility.errors %}
                                            <div class="invalid-feedback d-block">{{ form.type_of_responsibility.errors.0 }}</div>{% endif %}
                                    </div>
                                </div>

                                <!-- Блок "Залог" -->
                                <div class="row g-3 mt-2 collateral-block"
                                     id="{{ form.prefix }}-subject-of-collateral-block">

                                    <div class="col-md-6">
                                        <label for="{{ form.subject_of_collateral.id_for_label }}"
                                               class="form-label fw-semibold">
                                            Предмет залога
                                        </label>
                                        {{ form.subject_of_collateral|add_class:"form-select" }}
                                        {% if form.subject_of_collateral.errors %}
                                            <div class="invalid-feedback d-block">{{ form.subject_of_collateral.errors.0 }}</div>{% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="{{ form.procedure_for_foreclosure.id_for_label }}"
                                               class="form-label fw-semibold">
                                            Порядок обращения взыскания
                                        </label>
                                        {{ form.procedure_for_foreclosure|add_class:"form-select" }}
                                        {% if form.procedure_for_foreclosure.errors %}
                                            <div class="invalid-feedback d-block">{{ form.procedure_for_foreclosure.errors.0 }}</div>{% endif %}
                                    </div>
                                </div>

                                <!-- Остальные поля (всегда показывать) -->
                                <div class="row g-3 mt-2">
                                    <div class="col-12">
                                        <label for="{{ form.dop_info.id_for_label }}" class="form-label fw-semibold">
                                            Дополнительная информация / комментарии
                                        </label>
                                        {{ form.dop_info|add_class:"form-control" }}
                                        {% if form.dop_info.errors %}
                                            <div class="invalid-feedback d-block">{{ form.dop_info.errors.0 }}</div>{% endif %}
                                    </div>
                                </div>
                                <div class="row g-3 my-2">
                                    <div class="col-12">
                                        {% if formset.can_delete %}
                                            <div class="delete-wrapper">
                                                <label style="font-weight: bold;">
                                                    {{ form.DELETE }} УДАЛИТЬ ЭТУ ЗАПИСЬ
                                                </label>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row mt-3 mb-5">
                <div class="col-12 d-flex justify-content-center gap-2 flex-wrap">
                    <button type="button" id="add-form" class="btn btn-outline-primary">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="me-1">
                            <circle cx="8" cy="8" r="7" stroke="#0d6efd"/>
                            <path d="M8 4v8M4 8h8" stroke="#0d6efd" stroke-width="1.2"/>
                        </svg>
                        Добавить еще обеспечение
                    </button>
                    <a href="{% url 'legal_opin:deal_detail' pk=deal.pk %}" class="btn btn-outline-secondary">
                        Отмена
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Сохранить
                    </button>
                </div>
            </div>

            <template id="empty-form-template">
                <div class="col-12 col-md-10 col-lg-8 formset-item">
                    <div class="card shadow-sm mb-4">
                        <div class="card-header bg-primary text-white d-flex align-items-center small">
                            <svg width="1.1em" height="1.1em" fill="none" class="me-2" viewBox="0 0 24 24">
                                <rect x="4" y="6" width="16" height="12" rx="2" stroke="#fff" stroke-width="1.5"/>
                            </svg>
                            Обеспечение
                        </div>
                        <div class="card-body pb-1">
                            {% with form=formset.empty_form %}
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="{{ form.owner.id_for_label }}" class="form-label fw-semibold">Контрагент</label>
                                        {{ form.owner|add_class:"form-select" }}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="{{ form.type.id_for_label }}" class="form-label fw-semibold">Вид
                                            обеспечения</label>
                                        {{ form.type|add_class:"form-select collateral-type-selector" }}
                                    </div>
                                </div>
                                <div class="row g-3 mt-2 guarantee-block"
                                     id="{{ form.prefix }}-type-of-responsibility-block">
                                    <div class="col-12">
                                        <label for="{{ form.type_of_responsibility.id_for_label }}"
                                               class="form-label fw-semibold">
                                            Вид ответственности
                                        </label>
                                        {{ form.type_of_responsibility|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="row g-3 mt-2 collateral-block"
                                     id="{{ form.prefix }}-subject-of-collateral-block">
                                    <div class="col-md-6">
                                        <label for="{{ form.subject_of_collateral.id_for_label }}"
                                               class="form-label fw-semibold">
                                            Предмет залога
                                        </label>
                                        {{ form.subject_of_collateral|add_class:"form-select" }}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="{{ form.procedure_for_foreclosure.id_for_label }}"
                                               class="form-label fw-semibold">
                                            Порядок обращения взыскания
                                        </label>
                                        {{ form.procedure_for_foreclosure|add_class:"form-select" }}
                                    </div>
                                </div>
                                <div class="row g-3 mt-2">
                                    <div class="col-12">
                                        <label for="{{ form.dop_info.id_for_label }}" class="form-label fw-semibold">
                                            Дополнительная информация / комментарии
                                        </label>
                                        {{ form.dop_info|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="row g-3 my-2">
                                    <div class="col-12">
                                        {% if formset.can_delete %}
                                            <div class="delete-wrapper">
                                                <label style="font-weight: bold;">
                                                    {{ form.DELETE }} УДАЛИТЬ ЭТУ ЗАПИСЬ
                                                </label>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </template>
        </form>
    </div>

    <script>
        const TYPE_GUARANTEE = "Поручительство";
        const TYPE_COLLATERAL = "Залог";

        function updateBlocksVanilla(typeSelect) {
            let formCard = typeSelect.closest('.card-body');
            let val = typeSelect.value;
            let guaranteeBlock = formCard.querySelector('.guarantee-block');
            let collateralBlock = formCard.querySelector('.collateral-block');
            if (guaranteeBlock) guaranteeBlock.style.display = 'none';
            if (collateralBlock) collateralBlock.style.display = 'none';
            if (val === TYPE_GUARANTEE && guaranteeBlock) guaranteeBlock.style.display = 'block';
            if (val === TYPE_COLLATERAL && collateralBlock) collateralBlock.style.display = 'block';
        }

        function bindTypeScripts() {
            document.querySelectorAll('.collateral-type-selector').forEach(function (select) {
                updateBlocksVanilla(select);
                if (!select.dataset.listenerAttached) {
                    select.addEventListener('change', function () {
                        updateBlocksVanilla(select);
                    });
                    select.dataset.listenerAttached = "1";
                }
            });
        }

        document.addEventListener("DOMContentLoaded", bindTypeScripts);

        // Ваш код для добавления форм
        (function () {
            const container = document.getElementById('formset-container');
            const addBtn = document.getElementById('add-form');
            const emptyTemplate = document.getElementById('empty-form-template').innerHTML;
            const totalFormsInput = document.querySelector('input[name$="-TOTAL_FORMS"]');

            function getFormCount() {
                return parseInt(totalFormsInput.value, 10);
            }

            function setFormCount(n) {
                totalFormsInput.value = String(n);
            }

            if (addBtn) {
                addBtn.addEventListener('click', function () {
                    const formIndex = getFormCount();
                    const newFormHtml = emptyTemplate.replace(/__prefix__/g, formIndex);
                    container.insertAdjacentHTML('beforeend', newFormHtml);
                    setFormCount(formIndex + 1);
                    setTimeout(() => {
                        bindTypeScripts();
                    }, 50);
                });
            }
        })();
    </script>
{% endblock %}