{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h2>{% if is_create %}Создание{% else %}Редактирование{% endif %} сделки</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-end">
            <a href="" class="btn btn-secondary" onclick="window.history.back(); return false;">Отмена</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>
{% endblock %}