<div class="filters">
    <h6 class="fw-bold" style="margin-top: 1rem;">Период</h6>
    <div class="input-group mb-2">
        <input type="date" id="date-from" class="form-control period-field" placeholder="От" style="font-size: 0.9rem;">
        <span class="input-group-text period-divider"></span>
        <input type="date" id="date-to" class="form-control period-field" placeholder="До" style="font-size: 0.9rem;">
    </div>
    <div class="d-flex align-items-center w-100">
        <h6 class="fw-bold mt-3 mb-2 me-3">Рубрики</h6>
        <div class="rubric-search-container flex-grow-1 mt-3 mb-2">
            <div class="input-group search-group">
                <span class="input-group-text search-addon">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" id="rubricSearchInput" class="form-control search-field" placeholder="" aria-label="">
            </div>
        </div>
    </div>
    <div class="rubrics-scrollable scrollable">
        {% for rubric in rubrics %}
            <div class="form-check">
                <input class="" type="checkbox" name="rubrics" value="{{ rubric.name }}" id="rubric{{ rubric.id }}"
                       {% if rubric.id|stringformat:"s" in selected_rubrics %}checked{% endif %}>
                <label class="form-check-label" for="rubric{{ rubric.id }}">{{ rubric.name }}</label>
            </div>
        {% endfor %}
    </div>
    <h6 class="fw-bold mt-3">Категории</h6>
    <div class="d-flex justify-content-start align-items-center gap-2 mt-3">
    {% for category in categories %}
      <input  type="radio"
              name="category"
              value="{{ category.name }}"
              id="category{{ forloop.counter }}"
              class="btn-check category-toggle">
      <label class="btn btn-toggle" for="category{{ forloop.counter }}">
          {{ category.name }}
      </label>
    {% endfor %}
    </div>
    <div class="d-flex justify-content-start align-items-center gap-2 mt-2">
        <button class="btn-clear-review-main" id="reset-filters">Сбросить фильтры</button>
    </div>
</div>