{% extends 'index.html' %}
{% load static %}
<head>
    {% block extra_head %}
        {% if id_app == 'reviews' %}
            <link rel="stylesheet" href="{% static 'reviews/css/main.css' %}">
        {% elif id_app == 'risk' %}
            <link rel="stylesheet" href="{% static 'risk/css/main.css' %}">
        {% elif id_app == 'docs' %}
            <link rel="stylesheet" href="{% static 'docs/css/main.css' %}">
        {% elif id_app == 'legal_opin' %}
            <link rel="stylesheet" href="{% static 'legal_opin/css/main.css' %}">    
        {% endif %}
    {% endblock %}
</head>
<body>
    <!-- Блок контента -->
    {% block content %}
    <div class="overflow-out" style="overflow: hidden;">  
        <div class="container-fluid mt-3 list-page">
            <!-- Фильтры и контент -->
            <div class="row">
            <!-- Левая панель (Фильтры)  -->
            <div class="col-md-3">
                <!-- Блок фильтров для каждого приложения -->
                <div class="filter-panel">
                   {% if id_app == 'reviews' %}
                        {% include "reviews/addons/filter_block.html"  %}
                   {% elif id_app == 'risk' %}
                        {% include "risk/addons/filter_block.html"  %}
                   {% elif id_app == 'docs' %}
                        {% include "docs/addons/filter_block.html"  %}
                   {% elif id_app == 'legal_opin' %}
                        {% include "legal_opin/addons/filter_block.html"  %}
                   {% else %}
                   {% endif %}
                </div>
                <!-- Конец блока фильтров -->
            </div>

            <!-- Основной контент -->
            <div class="col-md-9">
                <div class="mx-auto" style="max-width: 70%;">
                    <div class="row align-items-start">
                        <!-- Блок Поиск + Админ -->
                        <div class="d-flex flex-nowrap align-items-start" style="margin-top: 1.5rem; padding-right: 1rem;">
                            <!-- Блок Поиск -->
                            <div class="flex-grow-1" style="min-width: 0;">
                           {% if id_app == 'reviews' %}
                                {% include "reviews/addons/search_form.html"  %}
                           {% elif id_app == 'risk' %}
                                {% include "risk/addons/search_form.html"  %}
                           {% elif id_app == 'docs' %}
                                {% include "docs/addons/search_form.html"  %}
                           {% else %}
                           {% endif %}
                            </div>
                            <!-- Конец Блока Поиск -->

                           <!-- Блок функция админа -->
                           {% if id_app == 'reviews' %}
                                {% include "reviews/addons/admin_block.html"  %}
                           {% elif id_app == 'risk' %}
                                {% include "risk/addons/admin_block.html"  %}
                           {% elif id_app == 'docs' %}
                                {% include "docs/addons/admin_block.html"  %}
                           {% else %}
                           {% endif %}
                           <!-- Конец блока функций админа -->
                        </div>
                        <!-- Конец Блока Поиск + Админ -->

                        <!-- Блок Списка для каждого приложения -->
                        <div class="scrollable" style="height: 84vh; overflow-y: auto;">

                        {% if query %}
                            {% if id_app == 'reviews' %}
                                    {% include "reviews/addons/search_res.html"  %}
                                {% elif id_app == 'risk' %}
                                    {% include "risk/addons/search_res.html"  %}
                                {% elif id_app == 'docs' %}
                                    {% include "docs/addons/search_res.html"  %}
                                {% else %}
                           {% endif %}
                        {% else %}
                            {% if id_app == 'reviews' %}
                                    {% include "reviews/addons/list_block.html"  %}
                                {% elif id_app == 'risk' %}
                                    {% include "risk/addons/list_block.html"  %}
                                {% elif id_app == 'docs' %}
                                    {% include "docs/addons/list_block.html"  %}
                                {% elif id_app == 'legal_opin' %}
                                    {% include "legal_opin/addons/list_block.html"  %}
                                {% else %}
                           {% endif %}
                        {% endif %}
                        </div>
                        <!-- Конец блока Списков -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- Блок cкриптов -->
    {% block scripts %}
        {% if id_app == 'reviews' %}
            <script src="{% static 'reviews/js/main.js' %}"></script>
        {% elif id_app == 'risk' %}
            <script src="{% static 'risk/js/main.js' %}"></script>
        {% elif id_app == 'docs' %}
            <script src="{% static 'docs/js/main.js' %}"></script>
        {% elif id_app == 'legal_opin' %}
            <script src="{% static 'legal_opin/js/main.js' %}"></script>    
        {% endif %}
    {% endblock %}
</body>